@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-raise {
    animation: raise 0.8s ease-out forwards;
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes raise {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #fafaf9;
  color: #555;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 4em;
  font-weight: 600;
}

.strong {
  font-weight: 600;
}

header {
  width: 100%;
}

footer {
  width: 100%;
}

.bold-text {
  font-weight: 700;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


