body {
    background: #FAFAF9;
    color: #555;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 600;
}

.strong {
    font-weight: 600;
}

    header {
      width: 100%;
    }

    footer {
        width: 100%;
      }
  
      .bold-text {
        font-weight: 700;
        font-family: sans-serif;/* Ensuring the bold version of the font is used */
      }     

      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
      }

      /* Define gradient backgrounds */
.bg-gradient-top-left {
  background: radial-gradient(circle at top left, #FFD6E8, transparent);
}

.bg-gradient-top-right {
  background: radial-gradient(circle at top right, #D6EFFF, transparent);
}

.bg-gradient-bottom-left {
  background: radial-gradient(circle at bottom left, #FFECD6, transparent);
}

.bg-gradient-bottom-right {
  background: radial-gradient(circle at bottom right, #D6FFD9, transparent);
}
            