---
import Base from "../layouts/Base.astro";
import Button from "../components/Button.astro";
// import FooterContact from "../components/FooterContact.astro";
import Back2 from "../components/Back2.astro";
---

<Base title="Contact">
  <section class="mx-4 2xl:mx-0">
    <Back2 />
    <div class="max-w-2xl mx-auto">
      <h1 class="font-sans font-bold text-5xl my-8">Contact</h1>
      <p class="mb-4 text-lg">
        Reach out to discuss your project, or to learn more about how I can help
        your business thrive.
      </p>

      <form name="contact" method="POST" data-netlify="true">
        <p>
          <label
            >Your Name:
            <input type="text" name="name" /></label
          >
        </p>
        <p>
          <label>Your Email: <input type="email" name="email" /></label>
        </p>
        <p>
          <label
            >Your Role: <select name="role[]" multiple>
              <option value="leader">Leader</option>
              <option value="follower">Follower</option>
            </select></label
          >
        </p>
        <p>
          <label>Message: <textarea name="message"></textarea></label>
        </p>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>

      <!-- <Contact /> -->
    </div>
  </section>
</Base>
