---
import Base from "../layouts/Base.astro";
import Button from "../components/Button.astro";
// import FooterContact from "../components/FooterContact.astro";
import Back2 from "../components/Back2.astro";
---

<Base title="Contact">
  <section class="mx-4 2xl:mx-0 min-w-full">
    <Back2 />
    <div class="max-w-2xl mx-auto w-full">
      <h1 class="font-sans font-semibold text-5xl my-6">Contact Us!</h1>
      <a href="https://cal.com/mattosurf/30min">
        <div class="mb-12 mt-12 text-center">
          <Button text="Book a Free Consultation" />
        </div>
      </a>
      <p class="mb-6 text-lg text-center">
        Or call/text
        <a href="tel:8312752566" class="text-indigo-700">831-275-2566</a>, or
        use the form below:
      </p>
    </div>
  </section>

  <form
    name="contact and subscribe"
    method="POST"
    netlify-honeypot="bot-field"
    data-netlify="true"
    class="bg-white p-6 rounded-lg shadow-lg sm:w-[450px] md:w-[640px] mb-12"
  >
    <p class="hidden">
      <label>
        Don't fill this out if you're human: <input name="bot-field" />
      </label>
    </p>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Name</label>
      <input
        type="text"
        name="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus-visible:outline focus-visible:border-indigo-700"
        required
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Email</label>
      <input
        type="email"
        name="email"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus-visible:outline focus-visible:border-indigo-700"
        required
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Phone</label>
      <input
        type="tel"
        name="phone"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus-visible:outline focus-visible:border-indigo-700"
        required
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Message</label>
      <textarea
        name="message"
        rows="4"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus-visible:outline focus-visible:border-indigo-700 resize-y"
        required></textarea>
    </div>

    <div class="mb-4">
      <input
        type="checkbox"
        name="newsletter"
        class="w-4 h-4 checked:bg-indigo-700 checked:border-indigo-700"
      />
      <label class="text-gray-700 font-regular mb-2 ml-2"
        >Subscribe to our newsletter</label
      >
    </div>

    <div class="mb-4">
      <input
        type="checkbox"
        name="sms-consent"
        required
        class="w-4 h-4 checked:bg-indigo-700 checked:border-indigo-700"
      />
      <label class="text-gray-700 font-regular mb-2 ml-2">
        I agree to receive SMS messages related to this inquiry. Message and
        data rates may apply. Reply STOP to unsubscribe.
      </label>
    </div>

    <div class="mb-4">
      <button
        type="submit"
        class="rounded-full bg-indigo-700 px-8 py-3 text-xl font-semibold text-white shadow-sm hover:bg-indigo-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500"
      >
        Send
      </button>
    </div>
  </form>
</Base>
