---
import Base from "../layouts/Base.astro";
import Button from "../components/Button.astro";
// import FooterContact from "../components/FooterContact.astro";
import Back2 from "../components/Back2.astro";
---

<Base title="Contact">
  <section class="mx-4 2xl:mx-0">
    <Back2 />
    <div class="max-w-2xl mx-auto">
      <h1 class="font-sans font-bold text-5xl my-8">Contact</h1>
      <p class="mb-4 text-lg">
        Reach out to discuss your project, or to learn more about how I can help
        your business thrive.
      </p>

      <form
        name="contact"
        method="POST"
        netlify-honeypot="bot-field"
        data-netlify="true"
        class="bg-white p-6 rounded-lg shadow-lg w-full max-w-2xl mb-12"
      >
        <p class="hidden">
          <label>
            Don't fill this out if you're human: <input name="bot-field" />
          </label>
        </p>

        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2">Name</label>
          <input
            type="text"
            name="name"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus-visible:outline focus-visible:border-indigo-600"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2"> Email</label>
          <input
            type="email"
            name="email"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus-visible:outline focus-visible:border-indigo-600"
            required
          />
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2">Message</label>
          <textarea
            name="message"
            rows="4"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus-visible:outline focus-visible:border-indigo-600 resize-y"
            required></textarea>
        </div>

        <div class="flex items-center justify-between">
          <Button type="submit" text="Send" />
        </div>
      </form>

      <!-- <Contact /> -->
    </div>
  </section>
</Base>
