---
import BaseThinner from "../layouts/BaseThinner.astro";
import { Image } from "astro:assets";
import juice from "../assets/juice.png";
import Back from "../components/Back.astro";

const title = "The Juice Magazine";
---

<BaseThinner title="Juice Magazine">
  <div class="mx-4 2xl:mx-0">
    <Back next="/whalewatching" />
    <h1 class="font-sans font-bold text-5xl my-8">{title}</h1>
    <p class="mb-6 mt-2">
      When Desktop Publishing, Zines, and Surfing collided they formed the Juice
      Magazine! As co-founder (along with Eric Mitchell) I learned a ton about
      design, surf photography, the surf-biz, and what it takes to run a small
      ad-supported publication.
    </p>
    <Image src={juice} alt="juice magazines image" class="" />
    <h4 class="font-bold text-lg mt-6 mb-2">Overview</h4>
    <p class="mb-2">
      Here's a descrition directly from the media kit: "The Juice is Northern
      California's Surf Magazine. Published 4 times a year by O-M productions in
      Santa Cruz, we are in our sixth year. The Juice is a quality publication
      concentrating on the high performance, professional, and recreational
      surfing found in this wave-rich part of California. Our editorial features
      the region's hottest surfers in action photos and interviews. We feature
      travel articles, and crossover sports like snowboarding and skateboarding.
      Also inside are timely surf news issues as well as fictional stories.
      Currently we print over 5000 issues which are distributed free at quality
      surf shops in Northern California."
    </p>

    <Back next="/whalewatching" />
  </div>
</BaseThinner>
