---
import Base from "../layouts/Base.astro";
import ServiceCard from "../components/ServiceCard.astro";
---

<Base title="Services">
  <div class="max-w-4xl mx-auto">
    <h1 class="font-sans font-bold text-5xl my-8">Services</h1>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
      <ServiceCard
        title="Web Design"
        description="Crafting websites that are fast, reliable, look great on mobile, and convert prospects into paying customers."
      />

      <ServiceCard
        title="Logo Design"
        description="Creating logos (and complete branding packages) that are eye-catching, professional, and memorable."
      />

      <ServiceCard
        title="Packaging"
        description="Expert package design and file creation for consumer packaged goods—food, beverages, products, and more."
      />

      <ServiceCard
        title="Social Media"
        description="Creating content for Instagram, Facebook, and TikTok that educates and sparks engagement."
      />

      <ServiceCard
        title="Photography"
        description="Product & Lifestyle Photos - Showcasing your goods in the best light and capturing moments that tell your brand story."
      />

      <ServiceCard
        title="Photo Editing"
        description="Expert transformation of images (and video) using Photoshop and other tools to raise quality and enhance impact."
      />

      <ServiceCard
        title="User Experience Design"
        description="Using observation and research to craft interactions that are usable, provide high utility, and delight your customers."
      />

      <ServiceCard
        title="Advertisements"
        description="Promoting your goods and services in any media—from print and digital, to billboards, banners, vehicle wraps, and more!"
      />

      <ServiceCard
        title="Books/Magazines"
        description="Publications for print and online. Also complete book designs - inside pages and covers (print and eBook versions)."
      />

      <ServiceCard
        title="Marketing Communications"
        description="Strategic use of various media and messages to promote your product, service, or brand."
      />
    </div>
  </div>
</Base>
