---
const { next } = Astro.props;
---

<div
  class="text-indigo-600 my-4 hover:text-indigo-800 text-lg flex justify-between"
>
  <div>
    <a href="/about"> &larr; Back </a>
  </div>
  <!-- <div>
    <a href={next}> Next &rarr; </a>
  </div> -->
</div>
