---
import { Icon } from "astro-icon/components";
---

<a href="https://www.linkedin.com/in/matt-oleary/">
  <p class="text-xl py-6 text-indigo-600 hover:text-indigo-800">
    <Icon name="linkedin" />
  </p>
</a>
