---
import { Icon } from "astro-icon/components";
// import Socials from "./Socials.astro";
---

<ul class="list-none list-inside">
  <li class="mb-2 flex">
    <a href="mailto:matt@mattoleary.design.com">
      <Icon
        name="mail"
        class="text-indigo-50 hover:text-indigo-200 mr-2"
        aria-label="Email Icon"
      /></a
    >
    <a
      href="mailto:matt@mattoleary.design"
      class="text-indigo-50 hover:text-indigo-200 hover:underline relative top-[-1.5px]"
      >matt@mattoleary.design</a
    >
  </li>
  <li class="mb-2 flex">
    <a href="tel:8312752566">
      <Icon
        name="phone"
        class="text-indigo-50 hover:text-indigo-200 mr-2"
        aria-label="Phone Icon"
      /></a
    >
    <a
      href="tel:8312752566"
      class="text-indigo-50 relative top-[-1.5px] hover:text-indigo-200 hover:underline"
      >(831) 275-2566
    </a>
  </li>
</ul>
<!-- <ul class="list-none list-inside flex space-x-8 mt-8">
  <li class="mb-2 flex">
    <a href="https://www.linkedin.com/in/matt-oleary/">
      <Icon
        name="linkedin"
        class="text-indigo-50 hover:text-indigo-200 mr-2"
        aria-label="LinkedIn Icon"
      /></a
    >
  </li>
  <li class="mb-2 flex">
    <a
      href="https://www.facebook.com/people/Matt-OLeary-Design/61565317732611/"
    >
      <Icon
        name="facebook"
        class="text-indigo-50 hover:text-indigo-200 mr-2"
        aria-label="Facebook Icon"
      /></a
    >
  </li>
  <li class="mb-2 flex">
    <a href="https://www.instagram.com/matt_oleary_design">
      <Icon
        name="instagram"
        class="text-indigo-50 hover:text-indigo-200 mr-2"
        aria-label="Instagram Icon"
      /></a
    >
  </li>
</ul>

<Socials /> -->
