<footer class="border-t border-slate-300 mt-12">
  <div class="my-4">
    &copy;
    <span id="copyright">
      <script>
        document
          .getElementById("copyright")
          .appendChild(document.createTextNode(new Date().getFullYear()));
      </script>
    </span>
    Matthew O&apos;Leary
  </div>
</footer>
