---
import { Image } from "astro:assets";
import icon from "../assets/icon.svg";
---

<a href="/">
  <p class="font-heading text-2xl md:text-3xl font-bold py-2">
    <Image src={icon} alt="Logo" width={50} height={50} class="inline" /> Matthew
    O’Leary
  </p>
</a>
