---
import { Icon } from "astro-icon/components";
---

<ul class="list-none flex space-x-4 mt-0 ml-4 md:mt-0 md:ml-12 justify-end">
  <li class="flex">
    <a href="https://linkedin.com/in/matt-oleary/">
      <Icon
        name="linkedin"
        class="w-5 h-5 text-slate-700 hover:text-indigo-900 md:w-5 md:h-5"
        aria-label="LinkedIn Icon"
      />
    </a>
  </li>
  <li class="flex">
    <a
      href="https://www.facebook.com/people/Matt-OLeary-Design/61565317732611/"
    >
      <Icon
        name="facebook"
        class="w-5 h-5 text-slate-700 hover:text-indigo-900 md:w-5 md:h-5"
        aria-label="Facebook Icon"
      />
    </a>
  </li>
  <li class="flex">
    <a href="https://www.instagram.com/matt_oleary_design">
      <Icon
        name="instagram"
        class="w-5 h-5 text-slate-700 hover:text-indigo-900 md:w-5 md:h-5"
        aria-label="Instagram Icon"
      />
    </a>
  </li>
</ul>
