---
const { title, description } = Astro.props;
---

<div class="rounded-lg bg-white px-4 py-5 sm:px-6 max-w-full">
  <h2 class="font-sans text-indigo-700 font-bold text-xl mb-2">{title}</h2>
  <p class="mb-2">
    {description}
  </p>
</div>
