---
import { Icon } from "astro-icon/components";
---

<ul class="list-none list-inside flex space-x-8 mt-8">
  <li class="mb-2 flex">
    <a href="https://www.linkedin.com/in/matt-oleary/">
      <Icon
        name="linkedin"
        class="w-8 h-8 text-indigo-50 hover:text-indigo-200 mr-2"
        aria-label="LinkedIn Icon"
      /></a
    >
  </li>
  <li class="mb-2 flex">
    <a
      href="https://www.facebook.com/people/Matt-OLeary-Design/61565317732611/"
    >
      <Icon
        name="facebook"
        class="w-8 h-8 text-indigo-50 hover:text-indigo-200 mr-2"
        aria-label="Facebook Icon"
      /></a
    >
  </li>
  <li class="mb-2 flex">
    <a href="https://www.instagram.com/matt_oleary_design">
      <Icon
        name="instagram"
        class="w-8 h-8 text-indigo-50 hover:text-indigo-200 mr-2"
        aria-label="Instagram Icon"
      /></a
    >
  </li>
</ul>
