---
import Base from "../../layouts/Base.astro";
import ThinnerContent from "../../components/ThinnerContent.astro";
import { Image } from "astro:assets";
import coastal2 from "../../assets/coastal2.png";
import Back from "../../components/Back.astro";

const title = "Coastal Nature Guides";
---

<Base title="Coastal Nature Guides">
  <ThinnerContent>
    <section class="mb-8">
      <h1 class="font-sans font-bold text-4xl sm:text-5xl my-8">{title}</h1>
      <p class="mb-6">
        Coastal Nature Guides is a work-in-progress - full website coming soon!
        When finished the site will offer unforgettable experiences led by
        highly experienced guides with deep knowledge of Monterey County and Big
        Sur. These vast areas feature unique landscapes with countless places to
        explore. Operated by the same team that runs
        <a
          href="https://www.bigsurfadventures.com/"
          target="_blank"
          class="text-indigo-700 hover:text-indigo-900 hover:underline"
          >Big Surf Adventures</a
        >.
      </p>
      <p class="mb-6">
        My role so far has been to create an online presence for the site, and I
        also designed the logo.
      </p>
      <Image src={coastal2} alt="coastal image" />
    </section>
    <Back next="/work/books" />
  </ThinnerContent>
</Base>
