---
import Base from "../../layouts/Base.astro";
import ThinnerContent from "../../components/ThinnerContent.astro";
import BaseThinner from "../../layouts/BaseThinner.astro";
import { Image } from "astro:assets";
import kiteworks from "../../assets/kiteworks.jpg";
import Back from "../../components/Back.astro";
import fastpencil from "../../assets/fastpencil.png";

const title = "FastPencil";
---

<Base title="FastPencil">
  <ThinnerContent>
    <section class="mb-8">
      <h1 class="font-sans font-bold text-4xl sm:text-5xl my-8">{title}</h1>
      <p class="mb-6 mt-2">
        FastPencil is a web-based publishing platform that allows authors,
        publishers, and enterprises to create books in print and EPUB formats
        and have them distributed online on all major book selling channels
        including Amazon and Ingram. While I was leading design there it became
        necessary to rebuild the front-end technology and UI on order to offer a
        white-label version of the platform so I led this effort.
      </p>
      <Image src={fastpencil} alt="open banking website image" class="" />

      <h4 class="font-bold text-lg mt-6 mb-2">Hypothesis</h4>
      <p class="mb-2">
        The original design of the publishing platform was heavily branded
        without the flexibility to allow other companies to easily create a
        version of their own on top of the software. A new design was required
        to enable white-labeling. Also, during the redesign, every effort should
        be made to identify and fix any areas of the app with poor usability.
      </p>
      <h4 class="font-bold text-lg mt-6 mb-2">Research</h4>
      <p class="mb-2">
        As part of a small team, I helped analyze hundreds support tickets to
        discover areas where users were struggling or had questions with what to
        do or would happen next. We also analyzed results of a large survey
        asking customers to provide general feedback on the service.
      </p>
      <h4 class="font-bold text-lg mt-6 mb-2">Key Takeaways</h4>
      <p class="mb-2">
        <ul class="list-disc pl-5 space-y-2">
          <li>There are too many choices per view.</li>
          <li>
            Users don't know what to do at key junctions in the publishing
            process.
          </li>
        </ul>
      </p>
      <h4 class="font-bold text-lg mt-6 mb-2">Prototyping</h4>
      <p class="mb-2">
        I created an html prototype with Bootstrap that with an emphasis on
        simplicity and making the most common actions visually prominent while
        still supporting other possible flows. Along with the CEO I presented
        this prototype to many prospective customers and investors. Based on
        their feedback and questions I iterated on the prototype and tracked
        reactions to changes.
      </p>
      <h4 class="font-bold text-lg mt-6 mb-2">Development</h4>
      <p class="mb-2">
        I worked closely with the development team to build out the production
        versions - both the FastPencil (self-branded version) as well as the
        white-label/ brandable version.
      </p>
      <h4 class="font-bold text-lg mt-6 mb-2">Outcome</h4>
      <p class="mb-2">
        FastPencil was successfully acquired by Courier Corporation in large
        part based on the design and usability improvements that I made to the
        web UI and experience.
      </p>
    </section>
    <Back next="/work/juice" />
  </ThinnerContent>
</Base>
