---
import Base from "../../layouts/Base.astro";
import ThinnerContent from "../../components/ThinnerContent.astro";
import { Image } from "astro:assets";
import linguid from "../../assets/linguid.jpg";
import Back from "../../components/Back.astro";

const title = "Linguid";
---

<Base title="Linguid">
  <ThinnerContent>
    <Back next="/work/jack" />
    <section class="mb-8">
      <h1 class="font-sans font-bold text-5xl my-8">{title}</h1>
      <p class="mb-6">
        For this project, I designed and developed a landing page for Linguid, a
        language learning app created as part of my son's startup incubator
        project. The goal was to attract early users, encourage exploration, and
        gather valuable feedback. Visitors who sign up receive a follow-up email
        flow that links to the app prototype and includes a short feedback form.
        The sign-up process also collects names for a simple CRM, laying the
        groundwork for future outreach and marketing. Built with Astro and
        styled using Tailwind CSS, the landing page is fast, responsive, and
        focused on clarity and ease of use. I also designed the logo, keeping it
        clean and modern to reflect the app's innovative and educational spirit.
        It was a rewarding collaboration and a great way to support a young
        entrepreneur in launching his first product.
      </p>
      <p class="mb-6">
        Visit the site:
        <a
          href="https://learnwithlinguid.com/"
          class="text-indigo-700 hover:text-indigo-900 hover:underline"
          >Learn with Linguid</a
        >.
      </p>
      <a href="https://learnwithlinguid.com/">
        <Image src={linguid} alt="linguid image" />
      </a>
    </section>
    <Back next="/work/jack" />
  </ThinnerContent>
</Base>
