---
const { title } = Astro.props;
import "../styles/main.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";
// import "@fontsource/prata";
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <SEO
      title="Custom Graphic & Web Design | Matthew O'Leary Design"
      description="Matthew O'Leary offers expert custom graphic and web design services tailored for startups, small businesses, and organizations. Bringing visions to life with creativity and technical expertise."
      openGraph={{
        basic: {
          title: "Custom Graphic & Web Design | Matthew O'Leary Design",
          type: "website",
          image: "https://mattoleary.design/images/og-image.jpg", // Replace with your actual OG image URL
        },
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "description",
            content:
              "Matthew O'Leary offers expert custom graphic and web design services tailored for startups, small businesses, and organizations. Bringing visions to life with creativity and technical expertise.",
          },
          {
            name: "og:image",
            content: "https://mattoleary.design/images/og-image.jpg", // Replace with your actual OG image URL
          },
          {
            name: "og:title",
            content: "Custom Graphic & Web Design | Matthew O'Leary Design",
          },
          {
            name: "og:description",
            content:
              "Matthew O'Leary offers expert custom graphic and web design services tailored for startups, small businesses, and organizations. Bringing visions to life with creativity and technical expertise.",
          },
        ],
      }}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="flex flex-col h-screen justify-between w-full">
      <header class="max-w-7xl mx-auto w-full"><Nav /></header>

      <main class="mb-auto max-w-7xl mx-auto w-full" transition:animate="fade">
        <slot />
      </main>
      <div class="bg-slate-700">
        <footer class="max-w-7xl mx-auto">
          <Footer />
        </footer>
      </div>
    </div>
    <script
      data-goatcounter="https://mattolearydesign.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>
  </body>
</html>
